* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-image: url(../img/bg.jpg);
	font-family: Arial, sans-serif;
}

html, body {
	height: 98%;
}

header {
	color: white;
	text-align: center;
}

header h1 {
	font-size: 28px;
	margin: 30px 0 10px 0;
}

header p {
	font-size: 12px;
}

header a {
	color: white;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 98%;
	margin: 0 auto -4em;
}

p.tagline {
	margin-bottom: 10px;
}

#theactualquoteforrealthistime {
	background: rgba(255, 255, 255, .5);
	border: solid 1px black;
	border-radius: 4px;
	color: black;
	display: inline-block;
	font-size: 0.9em;
	top: 50%;
	padding: 10px;
	vertical-align: top;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 6px 9px -8px hsla(0,0%,0%,.5);
	-ms-box-shadow: 0 6px 9px -8px hsla(0,0%,0%,.5);
	-o-box-shadow: 0 6px 9px -8px hsla(0,0%,0%,.5);
	box-shadow: 0 6px 9px -8px hsla(0,0%,0%,.5);
}

.message1, .message2, .message3, .message4 {
	margin-left: 15px;
	margin-top: 25px;
}

.drop1, .drop2, .drop3, .drop4 {
	margin-top: 40px;
}

#quoteholder {
	margin-top: 8%;
	text-align: center;
}

img {
	height: 50px;
	width: 50px;
}

#quoteholder-inner {
	margin-bottom: 18px;
}

p.quote {
	color: black;
	vertical-align: top;
}

footer {
	color: white;
	font-size: 12px;
	text-align: center;
}

footer p {
	padding-top: 5px;
}

footer a {
	color: white;
}

a {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

textarea {
	height: 50px;
	width: 715px;
}

input {
	padding: 3px;
}

input[type='submit'] {
	margin-right: 15px;
}
